.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem;
  background-color: white;
}

.header {
  width: 100%;
  text-align: center;
  color: #183851;
  padding: 1rem 0;
  background: #e6f2f2; /* Fondo azul claro */
}

.header h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;
}

.gridItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.stepContent {
  display: grid;
  grid-template-columns: auto;
  gap: 0.5rem;
  align-items: center;
}

.stepNumber {
  font-size: 1.5rem;
  color: #b02e0c;
  /*margin-bottom: 0.5rem;*/
}

.stepText {
  border: 1px solid #183851;
  width: 100%;
  justify-content: space-around;
}

.stepText p {
  color: #183851;
  font-size: 1rem;
  text-align: center;
}

.stepButton {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: white;
  color: #183851;
  border: 1px solid #183851;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 0;
}

.stepButton:hover {
  background-color: #183851;
  color: white;
}

.stepImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%; /* Ajusta esta altura según sea necesario */
  margin-top: 1rem;
}

.footer {
  width: 100%;
  background-color: #183851;
  color: white;
  padding: 0;
  text-align: center;
}

.footer h2 {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.copyright {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.copyright p {
  margin: 0;
  font-size: 0.875rem;
  color: #183851;
}

.checkCircleIcon {
  width: 24px;
  height: 24px;
  color: green;
}
