.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #ddd6cb;
  background: linear-gradient(90deg, #183851, #183851);
}

.headerText {
  padding: 0.5rem;
  border-bottom: 1px solid white;
}

.headerText h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.headerText p {
  font-size: 0.75rem;
  color: #cfa69b;
  font-style: italic;
}

.recipe h2,
.recipe p {
  margin: 0;
}

.image {
  position: relative;
  height: 15rem;
}

.recipe img {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.recipeTable {
  border: 0;
  margin: 0.5rem;
  margin-bottom: 0;
}

.summary {
  padding: 1rem 1rem 0 1rem;
}

.actions {
  padding: 1rem;
  text-align: right;
}

.actions a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #b02e0c, #b02e0c);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.actions a:hover,
.actions a:active {
  background: linear-gradient(90deg, #fd4715, #fd4715);
}
