.ingredientsTable {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #333;
  max-width: 100%;
  margin-top: 1rem;
  margin-left: 0.2rem;
  padding: 1rem 1rem;
  gap: 1rem;
}

.ingredientsTable th {
  text-align: left;
  text-transform: uppercase;
  color: #183851;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .ingredientsTable {
    font-size: 12px;
  }
}
