.ingredientsTable {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #333;
  max-width: 100%;
  margin: 1rem;
  padding: 1rem 1rem;
  gap: 1rem;
}

.ingredientsTable th {
  text-align: left;
  text-transform: uppercase;
  color: #183851;
  font-weight: bold;
}

.form {
  max-width: auto;
}

.form label {
  font-size: 1rem;
  margin: auto;
  display: block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #183851;
  font-weight: bold;
}

.form input,
.form select {
  padding: 0.2rem;
  margin: 0.2rem;
  width: auto;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.form input:focus,
.form textarea:focus {
  outline-color: #b02e0c;
  background-color: #1f252d;
}

.form button {
  border: 0;
  padding: 0.75rem 2rem;
  background: linear-gradient(90deg, #183851, #183851);
  border: none;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form button:hover,
.form button:focus {
  background: linear-gradient(90deg, #454952, #454952);
}

.form button:disabled,
.form button:hover:disabled,
.form button:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .ingredientsTable {
    font-size: 12px;
  }
}
